
body {
    background-color: wheat
    }
form{
    color: blue;
    }
h1{
    text-align: center; color: blue
  }
h2{
    color: blueviolet;
    text-align: center;
  }
.phonenumber, .description,.name, .RequiredDate, .DeliveryDate{
  padding-top: 8px;
  padding-bottom: 8px;
}
/* .Descriptiondate{

} */
